<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Edit', edit_project_task_path(@project, @task), class:"btn btn-info" %>
  </div>
  <p>
    <h1><%= @task.description %></h1>
  </p>
</div>
<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li><%= link_to "Tasks", project_tasks_path(@project) %>
  </li>
  <li class="active"><%= @task.description %></li>
</ol>

<p><strong>Due On: </strong><%= @task.due_date.to_s.gsub("-", "/") %></p>
