<div class="page-header">
  <div class="pull-right">
    <%= link_to 'New User', new_user_path, class:"btn btn-info" %>
  </div>
  <h1>Users</h1></div>

  <table class="table table-striped table-hover">
    <colgroup>
      <col class="col-xs-2">
      <col class="col-xs-7">
    </colgroup>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |u| %>
      <tr>
        <td><%= link_to u.full_name, u %></td>
        <td><%= mail_to(u.email) %></td>
        <td class="text-right">
          <% if u.id == current_user.id %>
            <%= link_to 'Edit', edit_user_path(u), class:"btn btn-info" %>
            <%= link_to 'Delete', u, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>
