<% if flash[:notice] %>
<div class="alert alert-success text-center"><%= flash[:notice] %></div>
<% end %>

<div class="page-header">
  <div class="pull-right">
    <%= link_to 'New User', new_user_path, class:"btn btn-info" %>
  </div>
  <h1>Users</h1></div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |u| %>
      <tr>
        <td><%= u.first_name %> <%= u.last_name %></td>
        <td><%= mail_to(u.email) %></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>
